<h1>Índices BCS</h1>
<div class="row">
	<div class="col-md-10">
		<form class="form-inline col4" id="filterForm">
			<div class="form-group">
				<label for="InputIndice">Índice</label>
				<select name="indice" id="indice">
					<option value="ALL" selected="true">Todos los Índices</option>
					<option value="IPSA">IPSA</option>
					<option value="IGPA">IGPA</option>
					<option value="INTER-10">INTER-10</option>
				</select>
			</div>
			<div class="form-group">
				<label for="InputIndice">Periodo</label>
				<select name="periodo" id="periodo">
					<option value="DI" selected="true">Diario</option>
					<option value="ME">Mensual</option>
					<option value="AN">Anual</option>
				</select>
			</div>
			<div class="form-group">
				<label for="InputName2">Desde fecha</label>
				<input readonly="true" type="date" class="form-control" name="fechaDesde" id="fechaDesde" placeholder="2015-10-20">
			</div>
			<div class="form-group">
				<label for="InputEmail2">Hasta Fecha</label>
				<input readonly="true" type="date" class="form-control" name="fechaHasta" id="fechaHasta" placeholder="2015-12-10">
			</div>
			<button id="btnFiltrar" type="button" class="btn btn-primary">Filtrar</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<table id="table" class="table table-striped">
			<thead>
				<tr id="tableHeader">
					<th>Fecha</th>
					<th>Índice</th>
					<th>Valor Actual del índice</th>
					<th>Variación del Indice</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
	<div id="grafico" class="col-md-6">
		<div id="lineChart" ></div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div id="spinner" class="hide"></div>
	</div>
</div>
<script src="/javascripts/indices.js"></script>